@value variables: '../../stylesheets/vars.css';
@value accentColor, mainLightGreyColor from variables;

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalHeader,
.modalBody,
.modalFooter {
  padding: 10px 20px;
}

.modalHeader {
  min-height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.modalTitle {
  font-family: "OswaldRegular";
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modalFooter button:last-child {
  margin-left: 10px;
}

.modalFooter > button {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  height: 36px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  outline: none;
}

.editBtn {
  background-color: accentColor;
  width: 160px;
}

.btnIcon {
  margin-left: 15px;
  font-size: 1.2rem;
}

.cancelBtn {
  background-color: rgb(255, 1, 1);
}

.modalFooter > button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

input[type="text"],
textarea {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  color: mainLightGreyColor;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
}

label {
  text-transform: uppercase;
  padding-left: 10px;
  color: accentColor;
  letter-spacing: 1px;
}

/*****media******/

@media screen and (min-width: 768px) {
  .modalWindow {
    min-height: 200px;
    min-width: 680px;
  }
}

/*media*/

@media screen and (min-width: 1024px) {
}
