@value variables: '../../stylesheets/vars.css';
@value accentColor from variables;

.mainHeader {
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}

.mainHeader::first-letter {
  font-size: 24px;
  color: accentColor;
}

/*media*/

@media screen and (min-width: 1200px) {
  .mainHeader {
    padding-top: 30px;
    font-size: 22px;
    margin-bottom: 20px;
  }
}
